@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

a,
li {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  list-style-type: none;
}

.logo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 130px;
}

ul {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
